@import './../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';


.tooltip {
    position: absolute;
    top: -55px;
    left: 290px;
    background-color: $light-grey;
    padding: 10px 14.5px;
    z-index: 1;
    display: block;
    color: $dark-grey;
    width: 158px;
    height: 64px;
    @include font-body-signature;
    border-radius: 5px;
    box-sizing: border-box;
  }
